# list

In [2]:
# to print index

In [3]:
l = [9,8,7,6]
print(l.index(7))

2

In [4]:
# to add number in list

In [5]:
l = [9,8,7,6]
l.append(1)
l

[9, 8, 7, 6, 1]

In [8]:
# to add (insert) number according to there index

In [7]:
l = [9,8,7,6]
l.insert(0,10)
l

[10, 9, 8, 7, 6]

In [9]:
# removing number from list

In [12]:
l = [9,8,7,6,8]
l.remove(8)
l

[9, 7, 6, 8]

In [13]:
# to return copy of list

In [19]:
l = [1,9,8,7,6]
l.copy()

[1, 9, 8, 7, 6]

In [20]:
# to count element from list

In [21]:
l = [1,2,3,4,5,62,1,3,52,1]
l.count(1)

3

In [22]:
# to add list in list

In [23]:
l = [1,2,3,4]
l1 = [5,6,7,8]
l.extend(l1)
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
# to print last element

In [24]:
l = [1,2,3,4]
l.pop()

4

In [26]:
# to reverse list

In [27]:
l = [1,2,3,4,5,6]
l.reverse()
l

[6, 5, 4, 3, 2, 1]

In [28]:
# to sorting list

In [29]:
l = [4,53,2,4,652,56,234,77,2553,3]
l.sort()
l

[2, 3, 4, 4, 53, 56, 77, 234, 652, 2553]

# slicing

In [39]:
# to print whole list

In [7]:
l = [1,2,3,4,5,6,7,8,9,10]
print(l[0:-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
# star to rest of array

In [9]:
l = [1,2,3,4,5,6,7,8,9,10]
print(l[4:])

[5, 6, 7, 8, 9, 10]

In [10]:
# begins to stop -1

In [13]:
l = [1,2,3,4,5,6,7,8,9,10]
print(l[:-4])

[1, 2, 3, 4, 5, 6]

In [14]:
# to print whole array

In [15]:
l = [1,2,3,4,5,6,7,8,9,10]
print(l[:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
# to print last item in array

In [17]:
l = [1,2,3,4,5,6,7,8,9,10]
print(l[-1])

10

In [18]:
# to print last two items in array

In [20]:
l = [1,2,3,4,5,6,7,8,9,10]
print(l[-2:])

[9, 10]

In [21]:
# to print everything expect last two

In [22]:
l = [1,2,3,4,5,6,7,8,9,10]
print(l[:-2])

[1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
# to print all items in array reversed

In [24]:
l = [1,2,3,4,5,6,7,8,9,10]
print(l[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [25]:
# to print first two items reversed

In [26]:
l = [1,2,3,4,5,6,7,8,9,10]
print(l[1::-1])

[2, 1]

In [27]:
# to print last two items of reversed

In [30]:
l = [1,2,3,4,5,6,7,8,9,10]
print(l[:-3:-1])

[10, 9]

In [31]:
# everything expect last two items reversed

In [32]:
l = [1,2,3,4,5,6,7,8,9,10]
print(l[-3::-1])

[8, 7, 6, 5, 4, 3, 2, 1]

In [33]:
l = [1,2,3,4,5,6,7,8,9,10]
print(l[:-3:-1])

[10, 9]

# dict

In [42]:
# to print keys of dict

In [41]:
d = {"Antara":17,"Aditya":11}
d.keys()

dict_keys(['Antara', 'Aditya'])

In [43]:
# to print written list values of dict

In [44]:
d = {"Antara":17,"Aditya":11}
d.values()

dict_values([17, 11])

In [45]:
# to print value for any corrosponding key

In [46]:
d = {"Antara":17,"Aditya":11}
d.get("Antara")

17

In [47]:
# to print items in dict

In [48]:
d = {"Antara":17,"Aditya":11}
d.items()

dict_items([('Antara', 17), ('Aditya', 11)])

In [53]:
# to print pop value of key

In [52]:
d = {"Antara":17,"Aditya":11}
d.pop("Antara")

17

In [54]:
# to remove most recent item

In [55]:
d = {"Antara":17,"Aditya":11}
d.popitem()

('Aditya', 11)

In [60]:
# to add pair of dict if not present

In [63]:
d = {"Antara":17,"Aditya":11}
d.update({"together_forever":"enternity_and_beyond"})
d

{'Antara': 17, 'Aditya': 11, 'together_forever': 'enternity_and_beyond'}

# set

In [65]:
# to add item in set

In [67]:
s = {1,2,3,4,5,"Antara",6,7,8,"Aditya"}
s.add(9)
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'Aditya', 'Antara'}

In [68]:
# to remove item from set

In [69]:
s = {1,2,3,4,5,"Antara",6,7,8,"Aditya"}
s.remove(3)
s

{1, 2, 4, 5, 6, 7, 8, 'Aditya', 'Antara'}

In [70]:
# removes item | remove will throw error if item is not there, discard will not

In [72]:
s = {1,2,3,4,5,"Antara",6,7,8,"Aditya"}
s.discard(5)
s

{1, 2, 3, 4, 6, 7, 8, 'Aditya', 'Antara'}

In [73]:
# to remove random item since unordered

In [74]:
s = {1,2,3,4,5,"Antara",6,7,8,"Aditya"}
s.pop()
s

{2, 3, 4, 5, 6, 7, 8, 'Aditya', 'Antara'}

In [77]:
s = {93,44,22,4332,4433,44.66,2233,544.2}
print("before pop",s)
s.pop()
print("after pop",s)

before pop {544.2, 4332, 44, 44.66, 4433, 22, 2233, 93}
after pop {4332, 44, 44.66, 4433, 22, 2233, 93}

In [78]:
# return true if no common element

In [80]:
s = {1,2,3,4,5,"Antara",6,7,8,"Aditya"}
s1 = {1,93,44,22,4332,4433,44.66,2233,544.2}
s.isdisjoint(s1)

False

In [81]:
# return true if all element from another set is present in original set

In [83]:
s = {1,2,3,4,5,"Antara",6,7,8,"Aditya"}
s1 = {1,93,44,22,4332,4433,44.66,2233,544.2}
s.issubset(s1)

False

In [84]:
# return true is all element from original set present in another set

In [86]:
s = {1,2,3,4,5,"Antara",6,7,8,"Aditya"}
s1 = {1,2,3,4,5,"Antara",6,7,8,"Aditya"}
s.issuperset(s1)

True

In [87]:
# returns set containing items only in first set

In [97]:
s = {1,2,3,4,5,"Antara",6,7,8,"Aditya"}
s1 = {1,2,3,4,5,"Antara",6,7,8,"Aditya",222,32.44,32,3221,333444444444444444444444}
s.difference(s1)
s

{1, 2, 3, 4, 5, 6, 7, 8, 'Aditya', 'Antara'}

In [89]:
# removes common element from first set

In [96]:
s = {1,2,3,4,5,"Antara",6,7,8,"Aditya"}
s1 = {1,2,3,4,5,"Antara",6,7,8,"Aditya",222,32.44,32,3221,333444444444444444444444}
s.difference_update(s1)
s1

{1,
 2,
 222,
 3,
 32,
 32.44,
 3221,
 333444444444444444444444,
 4,
 5,
 6,
 7,
 8,
 'Aditya',
 'Antara'}

In [92]:
s = {1,2,3,4,5,"Antara",6,7,8,"Aditya"}
s1 = {1,2,3,4,5,"Antara",6,7,8,"Aditya",222,32.44,32,3221,333444444444444444444444}
s.union(s1)

{1,
 2,
 222,
 3,
 32,
 32.44,
 3221,
 333444444444444444444444,
 4,
 5,
 6,
 7,
 8,
 'Aditya',
 'Antara'}

In [93]:
#adds another set without duplicate

In [95]:
s = {1,2,3,4,5,"Antara",6,7,8,"Aditya"}
s1 = {1,2,3,4,5,"Antara",6,7,8,"Aditya",222,32.44,32,3221,333444444444444444444444}
s.update(s1)
s

{1,
 2,
 222,
 3,
 32,
 32.44,
 3221,
 333444444444444444444444,
 4,
 5,
 6,
 7,
 8,
 'Aditya',
 'Antara'}

# tuple

In [98]:
# to print occurance of item

In [99]:
t = (1,2,3,4,5,6,7,8,9,10,1)
t.count(1)

2

In [100]:
# to return index of item in array

In [101]:
t = (33.23,44,54,223,2325,6,765,776)
t.index(776)

7

# string

In [102]:
# to split a string by using specified seperator

In [103]:
s = "Antara and Aditya are made for each other"
s.split(" ")

['Antara', 'and', 'Aditya', 'are', 'made', 'for', 'each', 'other']

In [104]:
# to convert string to list

In [106]:
s = "Antara and Aditya are made for each other"
l = list(s)
l

['A',
 'n',
 't',
 'a',
 'r',
 'a',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'A',
 'd',
 'i',
 't',
 'y',
 'a',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'm',
 'a',
 'd',
 'e',
 ' ',
 'f',
 'o',
 'r',
 ' ',
 'e',
 'a',
 'c',
 'h',
 ' ',
 'o',
 't',
 'h',
 'e',
 'r']

In [107]:
# to count specific item from string

In [112]:
s = "Antara and Aditya are made for each other"
s.count("A")

2

In [114]:
# issnumeric print true if all character from string are numeric character

In [118]:
s = "123456"
s.isnumeric()

True

In [119]:
# returns true if characters present in string are alphabtes or return false

In [122]:
s = "Antara"
s.isalpha()

True

In [132]:
# upper turns lower character to upper

In [134]:
s = "Antara and Aditya are made for each other"
print(s.upper())

ANTARA AND ADITYA ARE MADE FOR EACH OTHER

In [135]:
# lower can turns upper characters to lower

In [136]:
s = "Antara and Aditya are made for each other"
print(s.lower())

antara and aditya are made for each other

In [141]:
# islower is used to check given string is in lower character or not

In [140]:
s = 'Antara and Aditya are made for each other'
print(s.islower())

False

In [142]:
# isupper is used to check given string contains upper character or not

In [143]:
s = 'Antara and Aditya are made for each other'
print(s.isupper())

False

In [147]:
# isdigit used to print given string contain digit or not

In [148]:
s = 'Antara and Aditya are made for each other'
print(s.isdigit())

False